/*
======================================================================
Project Name    : My Portfolio
File Name       : _mixin.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/

@import "variables";

@mixin hamburgerBorder($top) {
  display: block;
  width: 25px;
  height: 2px;
  background-color: $accentColor;
  top: $top;
}

/* ==============
    Link styles
  ============= */
@mixin linkColor($color) {
  color: $color;

  &:hover, &:active, &:focus {
    color: lighten($color, 20%);
  }
}

/* ==============
   Media queries
  ============= */
@mixin max-screen($breakPoint) {
  @media screen and (max-width: $breakPoint) {
    @content;
  }
}

@mixin min-screen($breakPoint) {
  @media screen and (min-width: $breakPoint) {
    @content;
  }
}

@mixin screen($breakPointMin, $breakPointMax) {
  @media screen and (min-width: $breakPointMin) and (max-width: $breakPointMax) {
    @content;
  }
}
