// Font 
$fontFamilyDefault: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial" ,sans-serif;
$fontFamilyBase: 'Muli-Regular', sans-serif;
$fontFamilyEmphasize: 'Muli-Bold', sans-serif;
$fontFamilyHeader: 'Muli-ExtraBold', sans-serif;

// Colors
$colorBase: #F9F9F9;
$colorAccent: #1F1F1F;
$colorMiddle: #9F9F9F;
$colorLight: #D9D9D9;

// Size
$fontSizeBase: 10px;
$fontSizeBody: 1.6rem;
$fontSizeThumbnailTitle: 2.4rem;
$fontSizeThumbnailTitleMobile: 1.8rem;
$fontSizeThumbnailDescription: 2.1rem;

$mobilePortraitMin: 320px;
$mobilePortraitMax: 480px;
$mobileLnadMin: 481px;
$mobileLandMax: 600px;
$tabletMin: 601px;
$tabletMax: 960px;
$pcMin: 961px;
$pcMax: 1024px;