// Font 
$fontFamilyBase: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial" ,sans-serif;

// Colors
$baseColor: '#F9F9F9';
$accentColor: '#1F1F1F';
$middleColor: '#9F9F9F';
$lightColor: '#D9D9D9';

// Size
$baseFontSize: 10px;