@import '../common/variables';

.thumbnailWrapper {
  flex: 0 1 49%;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
}

.thumbnailAnchorStyle {
  text-decoration: none;
  color: $colorAccent;
}

.thumbnailTextWrapper {
  padding: 16px;
}

.thumbnailTextTitle {
  font-size: $fontSizeThumbnailTitle;
  margin-bottom: 8px;
}

.thumbnailTextDescription {
  font-size: $fontSizeThumbnailDescription;
  margin: 0;
}