@import '../common/variables';

.arrowsWrapper {
  position: fixed;
}

.leftArrow {
  position: fixed;
  left: 0;
  width: 150px;
  top: 25%;
  height: 50%;
}

.rightArrow {
  position: fixed;
  right: 0;
  width: 150px;
  top: 25%;
  height: 50%;
}

.leftArrowBar {
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    transition: all 100ms ease;
    display: block;
    width: 50px;
    height: 2px;
    background-color: $accentColor;
    transform: rotate(-45deg);
    transform-origin: top left;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    transition: all 100ms ease;
    display: block;
    width: 50px;
    height: 2px;
    background-color: $accentColor;
    transform: rotate(45deg);
    transform-origin: top left;
  }
}

.rihgtArrowBar {
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 25%;
    transition: all 100ms ease;
    display: block;
    width: 50px;
    height: 2px;
    background-color: $accentColor;
    transform: rotate(-45deg);
    transform-origin: top right;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 25%;
    transition: all 100ms ease;
    display: block;
    width: 50px;
    height: 2px;
    background-color: $accentColor;
    transform: rotate(45deg);
    transform-origin: top right;
  }
}
