@import "../common/variables";

.contactFormWrapper {
  display: block;

  .contactFormInput {
    display: block;
    width: 100%;
    height: 52px;
    margin-bottom: 8px;
    background-color: $colorMiddle;
    color: $colorBase;
    padding: 8px;
    font-size: 1.6rem;
  }

  textarea {
    height: 152px !important;
  }
}