@import '../common/variables';

.tabWrapper {
  list-style: none;
  text-align: center;
}

.tabItems {
  display: inline-block;
  padding: 8px 16px;
  font-size: 2rem;
  color: $colorBase;
  background-color: $colorMiddle;
  margin-right: 8px;
  border-radius: 8px;

  &:last-child {
    margin-right: 0;
  }
}