@import '../common/variables';
@import '../common/mixin';

.contentWrapper {

  .profileSectionWrapper {
    display: flex;
    margin-bottom: 50px;

    @include max-screen($mobileLandMax) {
      flex-direction: column;
    }
  
    .leftCol {
      flex: 2;
      margin-right: 50px;
  
      @include max-screen($mobileLandMax) {
        flex: 1;
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  
    .rightCol {
      flex: 3;
  
      @include max-screen($mobileLandMax) {
        flex: 1;
      }
  
      .sectionTitle {
        color: $colorMiddle;
        font-size: $fontSizeThumbnailTitle;

        @include max-screen($mobileLandMax) {
          font-size: $fontSizeThumbnailTitleMobile;
        }
      }
  
      .separator {
        width: 50%;
        height: 2px;
        background-color: $colorLight;
        margin: 20px 0;
      }
  
      .paragraph {
        font-size: 1.6rem;
        color: $colorMiddle;
      }
    }
  }
}