@import '../common/variables';

.heroImage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  margin-bottom: 1.45rem;

  img {
   width: 100%; 
  }
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.heroTitle {
  font-size: 4.8rem;
}

.heroSubTitle {
  font-size: 3.2rem;
}